In [2]:
"""
BERT 입력으로 뭐가 들어가는지
BERT seq_len 으로 뭐가 들어가야하는지

"""


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import urllib.request
import json
import sys
sys.path.append('..')

In [24]:
train_data = pd.read_table('data/train_nsmc.txt', sep=" ")
val_data = pd.read_table('data/val_nsmc.txt', sep=" ")
test_data = pd.read_table('data/test_nsmc.txt',sep=" ")

In [25]:
"""
데이터 확인
"""
train_data[:5]

             id                                           document  label
114959  6126493                     미국과 일본이 합작하면 3류 중국영화가 탄생한다는 공식      0
5184    9130892  뭔가 역동적인 씬 없이 잔잔하게 흘러가도 묵직한 분위기로 보는 이를 장악함 김기덕감...      1
148639  9874977       세월호에 박근혜 욕하듯 이미 떠난 사람이지만 재처리  답다는 이야기를 하고 싶네      0
63180   9437956                    살인마 혹은 피해자 어느 누구에도 감정이입이 안되는 영화      0
26583   9791042                                   ㅋㅋ지ㅓ밓다크크크크굿작ㅇㅋㅋㅋ      1

In [26]:
"""
데이터 정제
"""
print('훈련용 리뷰 개수 :',len(train_data))

훈련용 리뷰 개수 : 116695

In [6]:
train_data['document'].nunique(), train_data['label'].nunique()

(146182, 2)

In [7]:
train_data.drop_duplicates(subset=['document'], inplace=True)

In [8]:
print(train_data.isnull().values.any())

True

In [9]:
print(train_data.isnull().sum())

id          0
document    1
label       0
dtype: int64

In [10]:
train_data.loc[train_data.document.isnull()]

            id document  label
25857  2172111      NaN      1

In [11]:
train_data = train_data.dropna(how = 'any') # Null 값이 존재하는 행 제거
print(train_data.isnull().values.any()) # Null 값이 존재하는지 확인

False

In [12]:
train_data['document'] = train_data['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣0-9 ]","")
train_data[:5]

<ipython-input-12-5581c5b3ca4c>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  train_data['document'] = train_data['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣0-9 ]","")

         id                                           document  label
0   9976970                                  아 더빙 진짜 짜증나네요 목소리      0
1   3819312                         흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                          교도소 이야기구먼 솔직히 재미는 없다평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화스파이더맨에서 늙어보이기만 했던 커스틴 던...      1

In [13]:
train_data['document'].replace('', np.nan, inplace=True)
print(train_data.isnull().sum())

id            0
document    313
label         0
dtype: int64

In [14]:
train_data = train_data.dropna(how = 'any')
print(len(train_data))

145869

In [15]:
train_data['label'][:5]

0    0
1    1
2    0
3    0
4    1
Name: label, dtype: int64

In [16]:
from sklearn.model_selection import train_test_split

ModuleNotFoundError: No module named 'sklearn'

In [17]:
test_data.drop_duplicates(subset = ['document'], inplace=True) # document 열에서 중복인 내용이 있다면 중복 제거
test_data['document'] = test_data['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣0-9 ]","") # 정규 표현식 수행
test_data['document'].replace('', np.nan, inplace=True) # 공백은 Null 값으로 변경
test_data = test_data.dropna(how='any') # Null 값 제거
print('전처리 후 테스트용 샘플의 개수 :',len(test_data))

전처리 후 테스트용 샘플의 개수 : 49038

<ipython-input-17-1370959671dc>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  test_data['document'] = test_data['document'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣0-9 ]","") # 정규 표현식 수행

In [18]:
train, val = train_test_split(train_data,train_size = 0.8, test_size = 0.2, stratify=train_data['label'])

NameError: name 'train_test_split' is not defined

In [19]:
train[:5]

NameError: name 'train' is not defined

In [32]:
val[:5]

             id                                           document  label
2003    6230798               큰재미는없지만 나름대로 의미는있는듯4명의배우가데뷰한영화라 새로운듯      1
143401  8017872             초대박 드라마 50평생 이런드라마 처음이다 진짜 안본 사람 꼭 보세요      1
109569  7562897  아이랑 보러 갔는데 아이가 집중도 못하고 지루하하네요저도 참 지루했구요 제법 많은 ...      0
59350   9408483                                달달하다달달해 분당10개보다 달달해      1
6046    9588363                                         다음작을위해고고고군      1

In [33]:
train.groupby('label').size()

label
0    58565
1    58130
dtype: int64

In [35]:
val.groupby('label').size()

label
0    14642
1    14532
dtype: int64

In [38]:
train.to_csv("data/train_nsmc.txt",sep = " ")

In [39]:
val.to_csv("data/val_nsmc.txt",sep=" ")

In [40]:
test_data("data/test_nsmc.txt",sep=" ")

TypeError: 'DataFrame' object is not callable

In [37]:
test_data.groupby('label').size()

label
0    24176
1    24322
dtype: int64

In [30]:
from transformers import ElectraModel, ElectraTokenizer

In [47]:
tokenizer = ElectraTokenizer.from_pretrained("monologg/koelectra-base-v3-discriminator")

In [48]:
model = ElectraModel.from_pretrained("monologg/koelectra-base-v3-discriminator")

In [57]:
a=tokenizer("안녕하세요 여러분 저는 영윤이입니다. 반가워요 여러분",return_tensors = "pt",max_len=128)

Keyword arguments {'max_len': 128} not recognized.

In [56]:
model(**a)

BaseModelOutputWithPastAndCrossAttentions(last_hidden_state=tensor([[[-0.1228, -0.2716, -0.2648,  ...,  0.1078, -0.5476, -0.6699],
         [-0.2766, -0.2242, -0.4097,  ..., -0.1990,  0.1801, -0.6296],
         [ 0.8300,  0.0692, -0.5282,  ...,  0.2527, -0.3416, -0.5322],
         ...,
         [-0.0166,  0.3236, -0.3741,  ..., -0.0249,  0.1248, -0.5484],
         [ 0.1443, -0.1207, -0.4674,  ..., -0.6205,  0.1203, -0.4352],
         [-0.1228, -0.2716, -0.2648,  ...,  0.1078, -0.5476, -0.6699]]],
       grad_fn=<NativeLayerNormBackward>), past_key_values=None, hidden_states=None, attentions=None, cross_attentions=None)

In [42]:
max_len = 128

In [35]:
tokenizer.decode(a)

'[CLS] 안녕하세요 여러분 저는 영윤이입니다. 반가워요 여러분 [SEP]'

In [43]:
len(a)

18

In [44]:
a.extend(([1])*(max_len-len(a)))

In [45]:
a

[2,
 3135,
 5724,
 7814,
 3305,
 3990,
 5760,
 3376,
 7068,
 7096,
 7139,
 54,
 2207,
 5330,
 7018,
 6999,
 3305,
 3,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1]

In [46]:
len(a)

128

In [36]:
def prepare_with_json(infile, outfile):
    with open(outfile, 'w')as f:
        for index, row in infile.iterrows():
            doc = tokenizer.encode(row["document"])
            instance = {"id": row["id"], "doc":row["document"], "label":row["label"]}
            f.write(json.dumps(instance))
            f.write("\n")

In [37]:
prepare_with_json(train_data, "data/ratings_train.json")
prepare_with_json(val_data, "data/rating_val.json")
prepare_with_json(test_data, "data/ratings_test.json")

In [20]:
train_data

              id                                           document  label
0        9976970                                  아 더빙 진짜 짜증나네요 목소리      0
1        3819312                         흠포스터보고 초딩영화줄오버연기조차 가볍지 않구나      1
2       10265843                                  너무재밓었다그래서보는것을추천한다      0
3        9045019                          교도소 이야기구먼 솔직히 재미는 없다평점 조정      0
4        6483659  사이몬페그의 익살스런 연기가 돋보였던 영화스파이더맨에서 늙어보이기만 했던 커스틴 던...      1
...          ...                                                ...    ...
149995   6222902                                    인간이 문제지 소는 뭔죄인가      0
149996   8549745                                         평점이 너무 낮아서      1
149997   9311800                      이게 뭐요 한국인은 거들먹거리고 필리핀 혼혈은 착하다      0
149998   2376369                         청춘 영화의 최고봉방황과 우울했던 날들의 자화상      1
149999   9619869                           한국 영화 최초로 수간하는 내용이 담긴 영화      0

[145869 rows x 3 columns]